body{
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand",sans-serif;
    box-sizing: border-box; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #627bc5;
  }
  
  li {
    float: left;
  }
  li a {
    display: block;
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #9a54b6;
  }
.container
{
    width: 100%;
    height: 100vh;
    background-color: rgb(132, 176, 237);
    /* background-color: linear-gradient(rgb(94, 97, 234)); */
    display: grid;
    grid-template-columns: 700px;
    align-items: center;
    justify-content: center;
}
form
{
    height: 600px;
    background-color: rgb(146, 104, 236);
    /* background-color: linear-gradient( rgb(203 , 43, 107),rgb(149,70,196), rgb(94, 97, 234), rgb(203 , 43, 107)); */
    display: flex;
    flex-direction: column;
    padding: 1vw 3vw;
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(126, 126, 126,126);
}
form h2{
    color: aliceblue;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}
form input, form textarea{
    border: 0px;
    margin: 10px;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 20px;
    border-radius: 20px;
    font-family: "Quicksand",sans-serif;
}
form button{
    border-radius: 50px;
    padding: 15px;
    background: rgb(166, 198, 211);
    color: black;
    font-size: 25px;
    border: 0;
    outline: none;
    margin-left: 33%;
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 800;
}
form input::placeholder
{
    font-size: 15px;
}
form textarea::placeholder
{
    font-size: 20px;
}
button:hover
{
    transition: 0.5s;
    background-color: rgb(57, 248, 57);
}
h2:hover
{
    transition: 0.3s;
    color: rgb(0, 0, 0);
}
form:hover{
    box-shadow: 4px 4px 4px 4px rgb(76, 76, 76,76); 
}
@media (max-width: 990px) {
    .container{
        grid-template-columns: 500px;
    }
    .form
    {
        width: 80%;
        height: 80vh;
    }
}